.hero h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  min-height: 100dvh;
  background: #000000;
  color: rgb(28, 237, 9);
  font-family: Impact;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero a {
  color: rgb(208, 180, 19);
  text-decoration: underline;
  text-decoration-color: rgb(28, 237, 9);
}

/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background 0.5s;
}
.hero.active {
  background: #c6093b;
}
.hero.active a {
  color: white;
  text-decoration-color: #0033a0;
}

@media (max-width: 800px) {
  .hero {
    font-size: 45px;
  }
}

@media (min-width: 801px) {
  .hero {
    font-size: 75px;
  }
}
