/* There's some sample CSS here which you can use or nuke as you like */

html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
}

body {
  /* Change to something you like, but please do customize the font! */
  font-family: "Federo", sans-serif;
  line-height: 1.4;
  /* reset default margins */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Customize colors! */
  background: rgb(175 150 107);;
  color: rgb(255, 255, 255);
}
h2 {
  color: rgb(117 231 92);
  text-decoration: underline;
  text-decoration-color: rgb(208, 180, 19);
  margin-bottom: 8px;
}
p {
  margin-top: 0;
}

main {
  /* Make sure our content can scroll the hero away */
  min-height: 100dvh;
  max-width: 35em; /* choose a width for text */
  line-height: 1.8; /* choose a line spacing */
  font-size: 18px; /* choose a font size */
  margin: 0 auto; /* center the content */
}

main section {
  padding: 20px;
  max-width: 45rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0,1);
}
